
body{
  background-image: url(stars6.jpg);
  background-size: cover;
}

h1,h3{
  color:orange;
 }

 /* h3
 {
  color:black;
 } */

/* .top-left {
    position: absolute;
    top: 100px;
    left: 100px;
  } */
